body{
    margin: 0;
    height: 0; 
    background-image: url(assets/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Source Sans Pro";
    color: #fff;


}

@font-face{
    font-family: "Source Sans Pro";
    src: url(assets/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
    font-weight: normal;
    
}

/*  form start  */

i{
    color: #DC3545 ;
}


.myForm{
    width: 500px;
    margin:  0 auto;
    margin-top: 180px;
    text-align: center;
    font-size: 60px;
    font-family: "Source Sans Pro";
    color: white;
    text-shadow: : 5px 5px white;
    
}

.myForm button{
    width: 125px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: #DC3545 ;
    color: white;
    cursor: pointer;
    
}


/*  menu icon  */

#menu-button{
    font-size: 50px;
    color: #fff ;
    padding-top: 50px;
    margin-top: 190px;
    margin-left: 93%;
    height: 30px;
    cursor: pointer;

}

.menuIcon{
    background-color: black;
    height: 70px;
    border-radius: 2px;
}





/*  hover menu  */

.close{
    display: none;
}

nav{
    width: 100%;
    font-family: "Source Sans Pro";
    color: #fff;
    font-size: 22px;
    position: fixed;
    background: rgba(0, 0, 0, 0); 
    height: 100vh;
    overflow-x: hidden;
    z-index: 1;
    
}


nav a{
    display: block;
    padding: 37px;
    clear: both;
    text-align: center;
    cursor: pointer;
}

nav a:hover{ background-color: #DC3545; }

#close{
        float: right;
        clear: left;
}


/* Moving to the down part */

.shine{
  height: 100vh;
}

.messageBlock{
    width: 100%;
    background-color: black/*rgba(0,0,0,0)*/;
    height: 130px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: "Source Sans Pro";
    
}

#lead{
    padding-top: 20px;
}


img{
    width:  200px;
    height: 200px;
    box-shadow: 3px 5px rgba(0,0,0,0.6);
}


.boxes{
        background-color: black /*rgba(0,0,0,0)*/;
        padding: 30px;
        text-align: center;
        margin: 0 auto;     
}